{% extends "core/base.html" %}

{% block title %}Histórico de Lançamentos{% endblock %}
{% block content %}

  <div class="container">
    <h1>— Histórico de Lançamentos —</h1>

    <!-- Filtros -->
    <div class="filters">
      <div class="filter-item">
        <i class="fas fa-search"></i>
        <input type="text" id="searchInput" placeholder="Buscar por nome...">
      </div>

      <div class="filter-item">
        <i class="fas fa-sort"></i>
        <select id="sortSelect">
          <option value="">Ordenar por</option>
          <option value="mais-recente">Mais recente</option>
          <option value="mais-antigo">Mais antigo</option>
          <option value="maior-altura">Maior altitude</option>
        </select>
      </div>
    </div>

    <!-- Tabela de Lançamentos -->
    <table class="launch-table">
      <thead>
        <tr>
          <th>Lançamentos</th>
          <th>Data/Hora</th>
          <th>Volume de Água (mL)</th>
          <th>Ângulo</th>
          <th>Pressão (PSI)</th>
          <th>Altitude (metros)</th>
          <th>Ação</th>
        </tr>
      </thead>
        <tbody>
          {% if lancamentos %}
            {% for lanc in lancamentos %}
              <tr data-id="{{ lanc.id_lancamento }}" data-data="{{ lanc.data_hora_inicio|date:'c' }}" data-altura="{{ lanc.distancia_alvo }}">
                <td>{{ lanc }}</td>
                <td>{{ lanc.data_hora_inicio|date:"d/m/Y H:i" }}</td>
                <td>{{ lanc.volume_agua }}</td>
                <td>{{ lanc.angulo }}</td>
                <td>{{ lanc.pressao_lancamento }}</td>
                <td>{{ lanc.distancia_alvo }}</td>
                <td><a href="{% url 'oldlaunch-detail' lanc.pk%}">Detalhes</a></td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="7" class="no-launches-state" class="no-launches-state" style="display: none;">Nenhum lançamento encontrado</td>
            </tr>
          {% endif %}
      </tbody>
    </table>

    <!-- Estado "Carregando" -->
    <!-- <div class="loading-state">Carregando...</div> -->

    <!-- Estado "Nenhum lançamento encontrado" -->
    <div class="no-launches-state" class="no-launches-state" style="display: none;">Nenhum lançamento encontrado</div>
  </div>



    
{% endblock %}



